{% extends 'main.html' %}

{% load static %}

{% block title %}Chatterbox - rooms{% endblock %}

{% block content %}
    <div class="list-of-rooms">List of rooms:</div>
    <div class="rooms-list">
        <ul>
            {% for room in rooms %}
            <li>
                <a href="{% url 'room' room.id %}">{{ room.name }}</a> {{ room.description }}
                  {% if room.host %}
                    Host: {{ room.host }}
                    {% if room.host.id == request.user.id %} <!-- pokud je aktualne prihlaeny uzivatel ten, co tu mistnost vytvoril... -->
                    <a href="{% url 'delete_room' room.id %}">
                        <img src="{% static 'chatterbox/cross.png' %}" alt="delete" width="12px">
                    </a>
                      <b> /// </b>
                    <a href="{% url 'edit_room' room.id %}"> edit</a>
                   {% else %}
                    <b> you cannot delete / edit this room </b>
                    {% endif %}
                  {% else %}
                    Host: not known host
                  {% endif %}
                 ( {{ room.messages_count }} messages)
                {% if  room.messages_count > 0 %}
                    (last message update: {{ room.last_message_time }})
                {% else %}
                    (last message update: (no updates))
                <!-- TODO (#n messages from #m users, last message date: date/time of last message) -->
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
