{% load static %}
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'rooms' %}">Rooms</a></li>
            <li><a href="{% url 'create_room' %}">Create room</a></li> <!-- TODO Create room: new_room -->
        {% endif %}

         {% if not request.user.is_authenticated %}
            <li><a href="{% url 'rooms' %}">Rooms</a></li>
        {% endif %}

    <li class="log-right">
        {% if request.user.is_authenticated %}
            <div> User: <i> {{ request.user.username }} </i> - <a href="{% url 'logout' %}"> Logout </a></div>
        {% endif %}

        {% if not request.user.is_authenticated %}
            <div> <a href="{% url 'login' %}"> Login/Signup </a> </div>
        {% endif %}
    </li>
    </ul>
</nav>
